body{
    font: normal 15pt;
    background-color: rgb(65, 65, 245);
    

}

header{
    color: white;
    text-align: center;


}

section{
    background-color: white;
    width: 500px;
    
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.336);
    
    


}

footer{
color: white;
text-align: center;
font-style: italic;

}

div{
    padding: 10px;
}

